.book-rec-form-container{
	margin-bottom: 25px;
}
.book-rec-form{
	border: solid 1px #b6b6b6;
	background-color: #e3e3e3;
	padding: 10px;
	margin-bottom: 20px;
}

.add-book-button{
	border: solid 1px #b6b6b6;
	background-color: #e3e3e3;
	padding: 10px;
}

.book-list-submit{
	margin-top: 20px;
}